/JavaEE/SendImagesWithJavaMail-ejb/nbproject/private/
/JavaEE/SendImagesWithJavaMail-war/nbproject/private/
/JavaEE/nbproject/private/
/SendEmailWithImageUsingJavaMail/nbproject/private/
/SendEmailWithImageUsingJavaMail/build/